body{
	background-color: #dedede;
	margin: 0 auto;
	padding: 0; 
	width: 320px;
	height:480px;
}


.twentyatfooter {
	background-color: #2c2c2a;

	vertical-align: bottom;
	/*border:thin solid red;*/
}

div.twentyatfooter img {
	top: 0px; 
	left: 0px; 
	padding: 0px; 
	margin: 0; 
	float: left;
	
}
